.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button1 {
  border-radius: 12px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: aquamarine;
  
}
.button2 {
  border-radius: 12px;
  height: 30px;
  border: none;
  background-color: aquamarine;
}
.button3 {
  border-radius: 12px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: aquamarine;
}